* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.page-character-info {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.page-character-card > * {
  border: none;
  box-shadow: none !important;
}
.episode-list {
  margin-left: 30px;
  max-height: 70vh;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  overflow: auto;
}
